/*------------------------------------*\
  LAYOUT
\*------------------------------------*/

.container {
  display:               grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:              1.4em;
  grid-auto-rows:        minmax(3em, auto);

}

.header {
  grid-column: 1 / 4;
  grid-row:    1/ 2;
}

.main {
  grid-column: 1 / 4;
  grid-row:    2 / 8;
}

.sections {
  display:               grid;
  justify-content:       center;
  grid-template-columns: repeat(2, 40%);
  grid-template-rows:    repeat(4, 7em);
}

.menu-item {
  display:          flex;
  justify-content:  center;
  align-items:      center;
  border:           1px solid;
  border-color:     rgba(255, 221, 0, .8);
  background-color: rgba(0, 0, 0, .6);
}


.footer {
  grid-column: 1 / 4;
}



/* LAYOUT - CONTACT LINKS */

.links {
  display:         flex;
  height:          4rem;
  justify-content: space-around;
  align-items:     center;
}





/*------------------------------------*\
  MEDIA QUERY
\*------------------------------------*/

@media (min-width: 768px) {
  
  .menu-link {
    font-size: 1.8rem;
  }
  
  
  h1 {
    font-size: 6rem;
    font-weight: 600;
  }
  
}

@media (min-width: 1440px) {
  
  .container {
  grid-gap:              2em;
  grid-auto-rows:        minmax(4em, auto);

}
  
  
  .sections {
    grid-template-columns: repeat(2, 18%);
    grid-template-rows: repeat(4, 8.5em);
  }
  
  
  .menu-link {
    font-size: 1.8em;
  }
  
  
  h3 {
    font-size: 1.4em;
  }
  
}