/*------------------------------------*\
  GENERAL STYLES
\*------------------------------------*/



* {
  
  box-sizing: border-box;
  
}

body {
  
  background:      url(assets/Brooklyn-Bridge.jpg) no-repeat center fixed;
  background-size: cover;
  font-family:     'Libre Baskerville', sans-serif;
  color:           #444349;
  line-height:     2;
  
}




/*------------------------------------*\
  STYLES
\*------------------------------------*/

h1 {
  
  font-family: 'Fuggles', cursive;
  font-size:   4em;
  text-align:  center;
  color:       rgba(14, 14, 20, 0.8);
  
}

h3 {
  font-family: 'Libre Baskerville', serif;
  font-size:   1.1rem;
  text-align:  left;
  color:       rgba(255, 221, 0, 1);
}

.menu-link {
  
  text-decoration: none;
  font-size:       1.2em;
  color:           rgba(14, 14, 20, 0.8);
  
}



/*------------------------------------*\
  TRANSFORMATION
\*------------------------------------*/

.contact-links {
  transition: all .5s ease-out .1s;
}

.contact-links:hover {
  transform: scale(1.05, 1.1);
}



/* még nem látogatott link */

a:link {
  color: orange;
}


/* már meglátogatott link */

a:visited {
  color: rgba(255, 221, 0, 1);
}


/* kurzor alatti link */

a:hover {
  color: red;
}


/* kiválasztott link */
a:active {
  color: rgba(255, 99, 71, 1);
}
